html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgb(113, 181, 241);
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 120px;
}

button {
    background-color: rgb(63, 207, 19);
    padding: 18px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
}

.buttonDiv {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 24px;
}

.score {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-top: 32px;
}

div.score h3 {
    font-size: 32px;
    font-weight: 600;
}

.round-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 34px;
    margin-top: 34px
}

.roundDiv {
    background-color: blue;
    color: #fff;
    font-size: 32px;
    border: 5px black solid;
    border-radius: 4px;
    padding: 12px;
}

.displayDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    font-size: 32px;
    font-weight: 600px;
}